@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100dvh;
  margin: 0;
  padding: 0;
}

.mobile-wrapper {
  font-family: "Chosunilbo_myungjo", serif;
  padding: 0 20px;
  height: 100dvh;
  width: 375px; /* 아이폰 13 미니 화면 가로 크기에 고정 */
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 5px;
}

header h1 {
  font-size: 40px;
  font-weight: bolder;
  margin: 0;
}

.weather {
  padding: 4px 0;
  font-size: 12px;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 42%;
  padding-top: 6px;
}

.article-title {
  font-family: none;
  margin: 0;
  font-size: 28px;
  line-height: 1;
  font-weight: bolder;
  text-align: center;
}

.article-img {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
}

.article-img > img {
  height: 100%;
  width: 100%;
}

.divider {
  height: 1px;
  background-color: black;
  width: 100%;
}

.divider:nth-child(4) {
  height: 3px;
}

.article-container {
  height: 40%;
  position: relative;
  margin: 0 auto;
  padding: 8px 1px;
  column-count: 2;
  column-gap: 20px; /* 간격을 줄여서 여백 최소화 */
  column-fill: auto;
  align-content: center;
}

.article-container p {
  font-size: 15px;
  text-align: justify;
  margin: 0; /* 마진 제거 */
  padding: 0; /* 패딩 제거 */
  hyphens: auto;
  line-height: 1.14;
}

span {
  font-size: 10px;
  position: absolute;
  right: 4px;
  bottom: 5px;
}

.choices-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  width: 100%;
  margin: 10px 15px;
}

.vertical-divider {
  width: 1.5px;
  background-color: black;
  opacity: 0.2;
  height: 90%; /* 화면 높이에 맞게 길이 설정 */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.divider:nth-child(6) {
  height: 1.5px;
  opacity: 0.2;
}

.left {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  width: 100%;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  width: 100%;
}

.choice {
  font-size: 14px;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0px solid black;
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  box-sizing: border-box;
  color: black;
  height: 100%;
  width: 90%;
  animation: pulse 1.5s infinite ease-in-out;
}

.choice div {
  margin: 5px;
}

.left-choice {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  width: 70%;
}

.right-choice {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  width: 70%;
}

.left-choice + img {
  position: absolute;
  bottom: 3px;
  right: 3px;
  z-index: -1;
}

.right > .choice > img {
  position: absolute;
  bottom: 2px;
  left: 3px;
  z-index: -1;
  transform: scaleX(-1);
}

.ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 18%;
  margin-bottom: 7px;
}

.ad > img {
  height: 100%;
  width: 100%;
  filter: none;
}

img {
  width: 55%;
  filter: grayscale(100%);
  user-select: none;
  pointer-events: none;
}

.choice:hover {
  opacity: 0.5;
}

.highlight {
  all: unset;
  color: orange;
  font-weight: bold;
}

@keyframes pulse {
  0% {
    transform: scale(1); /* 기본 크기 */
  }
  50% {
    transform: scale(1.02); /* 크기 10% 증가 */
  }
  100% {
    transform: scale(1); /* 원래 크기로 돌아오기 */
  }
}

@media (min-width: 400px) {
  .mobile-wrapper {
    height: 630px; /* PC에서는 고정된 높이로 */
  }
}
